@import 'styles/breakpoints';
@import 'styles/colors';
@import 'styles/mixins';
@import 'styles/variables';

.header {
  line-height: 1;
  padding: 0 1.5rem;
  margin-bottom: 1.5rem;

  hr {
    border: none;
    background-color: $border-color;
    height: 1px;
    margin: 1.5rem -1.5rem;
  }

  h2 {
    margin-bottom: 1.5rem;
  }
}

$form-group-element-margin: 0.5rem;
$form-group-margin: 1.5rem;

.content {
  @include card-box;

  padding: 1.5rem;
  background-color: $white;
}

.form-group {
  margin-bottom: $form-group-margin;
}

.label {
  font-weight: 700;
  font-size: 0.9em;

  display: block;
  margin-bottom: $form-group-element-margin;

  &.inline {
    display: inline-block;
  }
}

.error-message {
  margin-top: $form-group-element-margin;

  color: $red;
  font-size: 0.9em;
  font-weight: 700;
}

.links {
  a {
    color: $blue;
    text-decoration: none;
    height: 2em;
    line-height: 2em;
    display: inline-block;

    .link-icon {
      margin-left: 0.5em;
    }
  }

  li {
    list-style: none;
    display: inline-block;

    // margin-right: 1em;

    &:after {
      content: '•';
      margin: 0 0.75em;
    }

    &:last-child {
      &:after {
        content: '';
      }

      margin-right: 0;
    }
  }
}

.button-group {
  width: 100%;

  @include on-computer() {
    width: 15em;
  }

  .error {
    background-color: lighten($red, 40%);
  }
}

.csv-area {
  border-radius: $border-radius-size;
  border: 2px solid $ui-base-color;
  outline: none;

  width: 100%;
  padding: 0.8em;

  &:focus {
    border-color: rgba($ui-accent-color, 0.7);
  }

  &.error {
    border-color: rgba($red, 0.7);
  }
}
