@import 'styles/colors';

$bar-height: 0.6rem;

.wrapper {
  position: relative;

  width: 100%;
  height: $bar-height;

  background-color: darken($ui-base-color, 7%);

  .progress {
    position: absolute;
    z-index: 0;

    height: $bar-height;

    background-color: $ui-accent-color;

    &.grade-aaa {
      background-color: $red;

      &.full-combo {
        background: linear-gradient(
          to left,
          $orange,
          $yellow,
          $green,
          $cyan,
          $blue,
          $purple
        );
      }
    }

    &.grade-aa {
      background-color: $orange;

      &.full-combo {
        background-color: $yellow;
      }
    }

    &.grade-a {
      background-color: $blue;
    }

    &.grade-b,
    &.grade-c,
    &.grade-d,
    &.grade-e,
    &.grade-f {
      background-color: $green;
    }
  }

  .target {
    position: absolute;
    z-index: 5;

    height: $bar-height;

    border-right: 1px solid $white;

    &.grade-a {
      width: 6/9 * 100 * 1%;
    }

    &.grade-aa {
      width: 7/9 * 100 * 1%;
    }

    &.grade-aaa {
      width: 8/9 * 100 * 1%;
    }
  }
}
