@import 'styles/colors';

$bar-height: 0.5rem;

.wrapper {
  position: relative;

  width: 100%;
  height: $bar-height;

  background-color: darken($ui-base-color, 7%);

  .progress {
    position: absolute;
    z-index: 0;

    height: $bar-height;

    background-color: $ui-accent-color;

    &.grade-aaa {
      background-color: $grade-aaa-color;
    }

    &.grade-aa {
      background-color: $grade-aa-color;
    }

    &.grade-a {
      background-color: $grade-a-color;
    }

    &.grade-b {
      background-color: $grade-b-color;
    }

    &.grade-c {
      background-color: $grade-c-color;
    }

    &.grade-d {
      background-color: $grade-d-color;
    }

    &.grade-e {
      background-color: $grade-e-color;
    }

    &.grade-f {
      background-color: $grade-f-color;
    }
  }

  .target {
    position: absolute;
    z-index: 5;

    height: $bar-height;

    border-right: 1px dotted $white;

    &.grade-a {
      width: 6/9 * 100 * 1%;
    }

    &.grade-aa {
      width: 7/9 * 100 * 1%;
    }

    &.grade-aaa {
      width: 8/9 * 100 * 1%;
    }
  }
}
