@import 'styles/colors';
@import 'styles/mixins';
@import 'styles/variables';

$left-right-padding: 1.5rem;
$top-bottom-padding: 1rem;

.data-box-wrapper {
  display: flex;
}

.data-box {
  display: flex;
  flex: 1;
  align-items: center;

  padding-left: $left-right-padding;
}

.data-box-content {
  display: flex;

  flex: 1;
  align-items: center;
  justify-content: space-between;

  dt {
    margin-bottom: 0.25em;

    color: $primary-fg-lighter-color;
    font-size: 0.8em;
  }

  .symbol-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 7rem;
    margin-left: $left-right-padding;
  }

  .score-box-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .data-list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    dt {
      display: inline-block;
    }

    dd {
      &.moderate {
        color: $primary-fg-lighter-color;
      }
    }
  }

  .clear-type {
    .full-combo {
      color: $cyan;
    }

    .ex-hard-clear {
      color: $orange;
    }

    .hard-clear {
      color: $red;
    }

    .easy-clear {
      color: $green;
    }

    .assist-clear {
      color: $purple;
    }

    .failed {
      color: $primary-fg-color;
    }
  }

  .score-box {
    flex: 1;

    .ex-score {
      margin-bottom: 0.5rem;

      text-align: right;
    }

    .score-text {
      margin-right: 0.25em;

      font-weight: bold;
    }

    .score-info {
      display: inline-block;
    }
  }

  .additional-area {
    margin-top: 1rem;
    padding: 1rem;

    background-color: $ui-base-color;

    .data-list + .data-list {
      margin-top: 0.5rem;
    }
  }
}

.score-diff-info {
  font-size: 0.9em;

  &.positive {
    color: darken($green, 10%);
  }

  &.negative {
    color: $red;
  }
}

.bpi {
  .score-diff-info {
    margin-left: 0.25em;
  }
}

.detail-link a {
  margin-right: -1.5rem;

  padding: 0 1.5rem;

  color: lighten($primary-fg-color, 30%);
  font-size: 1.5em;
  text-align: center;
}

.loading {
  @include skeleton-loading;
}
