node_modules

coverage
.next
/frontend/static/dist

.env

**/log/*
*.log
!**/log/.keep

**/tmp/*
!**/tmp/.keep

.bundle
.cache

.byebug_history
/backend/public/packs
/backend/public/packs-test
vendor/bundle

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
