$black: #323643;
$gray: #606470;
$white: #f7f7f7;

$blue: #1164a4;
$cyan: #079999;
$orange: #fe600b;
$yellow: #fec80b;
$red: #eb0b3b;
$green: #09cb09;
$purple: #3e1baf;

$ui-base-color: darken($white, 5%);
$ui-primary-color: $black;
$ui-accent-color: $blue;

$primary-bg-color: $white;
$primary-fg-color: $black;
$primary-fg-lighter-color: lighten($primary-fg-color, 25%);

$primary-bg-hover-color: darken($primary-bg-color, 3%);

$darker-bg-color: lighten($ui-base-color, 2%);
$darker-bg-hover-color: darken($darker-bg-color, 2%);

$header-bg-color: $ui-primary-color;
$header-fg-color: $white;

$footer-bg-color: $header-bg-color;
$footer-fg-color: $header-fg-color;

$primary-text-color: $black;

$lighter-border-color: darken($white, 10%);
$border-color: darken($white, 20%);
