$black: #323643;
$gray: #606470;
$white: #f7f7f7;

$blue: #1459a6;

$ui-base-color: darken($white, 5%);
$ui-primary-color: $black;
$ui-accent-color: $blue;

$primary-bg-color: $white;
$primary-fg-color: $black;

$header-bg-color: $ui-primary-color;
$header-fg-color: $white;

$primary-text-color: $black;

$border-color: darken($white, 20%);
