@import 'styles/colors';

.form-control-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 2rem;

  .filter-area {
    display: flex;
  }

  .search {
    flex: 1;
  }

  .filter-button {
    $bg-color: $ui-base-color;

    display: inline-block;
    padding: 0 1.5em;

    color: $primary-fg-color;
    line-height: 2.5em;
    text-align: center;

    border-radius: 2px;
    outline: none;
    cursor: pointer;

    .filter-icon {
      float: left;
      margin-right: 1rem;
    }

    &:hover {
      background-color: darken($bg-color, 5%);
    }
  }
}

.error-box {
  margin-top: 1rem;
}
