@import 'styles/colors';

.filter-area {
  display: flex;
  justify-content: space-between;

  padding: 1rem 2rem;

  .filter-button {
    $bg-color: $ui-base-color;

    display: inline-block;
    width: 100%;
    margin: 0 1rem;
    padding: 0 2em;

    color: $primary-fg-color;
    line-height: 2.5em;
    text-align: center;

    background-color: $ui-base-color;
    border: 2px solid transparent;

    border-color: $border-color;
    border-radius: 2.5em;
    outline: none;
    cursor: pointer;

    &:hover {
      background-color: darken($bg-color, 5%);
    }
  }

  .filter-icon {
    padding-right: 0.75em;
  }
}

.error-box {
  margin-top: 1rem;
}
