@import 'styles/colors';
@import 'styles/mixins';
@import 'styles/variables';

.form {
  @include card-box;

  width: 100%;

  background-color: $primary-bg-color;
  color: $primary-fg-color;

  padding: 1.5rem;
}

.search-form {
  .button-group {
    margin-bottom: 1rem;
  }

  .search-input-group {
    display: flex;

    .search-area,
    button[type='submit'] {
      height: 2.5em;
      background-color: $ui-base-color;
      // border: 2px solid $border-color;
      padding: 0 1em;

      &:disabled {
        // border-color: lighten($border-color, 5%);
        color: lighten($border-color, 5%);
        // background-color: darken($ui-base-color, 5%);
      }
    }

    .search-area {
      flex: 1;

      border-radius: $border-radius-size 0 0 $border-radius-size;
      outline: none;
    }

    button[type='submit'] {
      border-radius: 0 $border-radius-size $border-radius-size 0;
    }
  }
}

.error-box {
  margin-top: 1rem;
}
