@import 'styles/colors';
@import 'styles/variables';

.button {
  composes: button from '../../molecules/ButtonGroup/style.scss';

  display: inline-block;

  width: 100%;
  padding: 0 2em;

  color: $primary-fg-color;

  line-height: 2.5em;

  text-align: center;

  background-color: $ui-base-color;
  border: 1px solid transparent;

  border-radius: $border-radius-size;

  outline: none;

  cursor: pointer;

  &.active,
  &[type='submit'] {
    color: $white;

    background-color: $ui-accent-color;
  }

  &.white {
    background-color: $white;
  }

  &.inverted {
    color: $ui-base-color;

    background-color: transparent;
    border-color: $ui-base-color;

    &.white {
      color: $white;

      border-color: $white;
    }
  }

  &.small {
    padding: 0 1.5em;

    line-height: 2em;
  }

  &.disabled {
    cursor: default;
    opacity: 0.5;
  }
}
