@import 'styles/colors';
@import 'styles/mixins';
@import 'styles/variables';

.card {
  margin-bottom: 1rem;
}

.header {
  display: flex;
  align-items: center;

  font-weight: 700;
}

.label {
  display: inline-block;

  margin-right: 1em;

  padding: 0.1em 0.9em;

  color: $white;
  font-size: 0.7em;

  background-color: $black;
  border-radius: 2px;

  &:last-child {
    margin-right: 0;
  }
}

.difficulty-normal {
  background-color: $blue;
}

.difficulty-hyper {
  background-color: $orange;
}

.difficulty-another {
  background-color: $red;
}

.title {
  flex: 1;
  overflow-x: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}
