@import 'styles/colors';
@import 'styles/variables';

.input-text {
  border-radius: $border-radius-size;
  border: 2px solid $ui-base-color;
  outline: none;

  width: 100%;
  padding: 0.8em;

  &:focus {
    border-color: rgba($ui-accent-color, 0.7);
  }

  &.error {
    border-color: rgba($red, 0.7);
  }
}
