@import 'styles/colors.scss';

.box {
  position: relative;
}

$item-margin: 0.4em;
$arrow-size: 0.6em;

.dropdown {
  position: absolute;
  right: 0;
  left: auto;
  z-index: 100;

  min-width: 130px;
  margin-top: 1em;
  padding: $item-margin 0;

  background-color: $primary-bg-color;
  border: 1px solid $border-color;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  &::after {
    position: absolute;
    top: -($arrow-size / 2);
    right: 1em;
    z-index: 50;

    display: block;
    width: $arrow-size;
    height: $arrow-size;

    background-color: $primary-bg-color;
    box-shadow: -1px -1px 0 0 $border-color;
    transform: rotate(45deg);

    content: '';
  }
}

.item {
  display: block;
  width: 100%;
  padding: 8px 12px;

  color: $primary-text-color;

  cursor: pointer;

  &:hover {
    background-color: darken($primary-bg-color, 5%);
  }
}

.divider {
  margin: $item-margin 0;

  border-top: 1px solid $border-color;
}

.display-name {
  margin-right: 0.5em;
}

.hide {
  display: none;
}
