.focus-data-type-list {
  margin-bottom: 1rem;

  border-bottom: 1px solid $border-color;

  .focus-data-type-item {
    padding: 1em;

    color: darken($primary-bg-color, 40%);
    font-weight: 700;
    text-align: center;

    outline: none;

    &:last-child {
      border-right: none;
    }
  }

  .active {
    margin-bottom: -1px;
    // color: $ui-accent-color;

    color: $primary-fg-color;

    border-bottom: 2px solid $ui-accent-color;
  }
}
