@import 'styles/colors.scss';

.header-nav {
  background-color: $ui-primary-color;

  padding-bottom: 12px;
  padding-top: 12px;

  a {
    outline: none;
    text-decoration: none;
  }
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 2em;
}

.item {
  justify-content: center;
  align-items: center;
  padding: 0.5em;

  color: $white;

  user-select: none;

  &:hover,
  &:active {
    color: $lighter-gray;
  }
}

.clickable {
  &:hover {
    cursor: pointer;
  }
}
