@import 'styles/colors.scss';

.header-nav {
  background-color: $ui-primary-color;
  color: $white;

  padding-bottom: 12px;
  padding-top: 12px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item {
  justify-content: center;
  align-items: center;
}
