@import url('https://fonts.googleapis.com/css?family=Orbitron:900');

@import 'styles/colors.scss';
@import 'styles/variables.scss';

html {
  font-size: 62.5%; // make 1em = 10px
}

body {
  color: $primary-fg-color;
  font-weight: 300;
  font-size: $base-font-size;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  line-height: $base-font-size * 1.15;
  letter-spacing: 0.01em;

  background-color: $ui-base-color;
}

body,
html,
body > div {
  width: 100%;
  height: 100%;
}

a {
  color: $blue;
  text-decoration: none;

  outline: none;
}
