@import 'styles/colors';
@import 'styles/breakpoints.scss';

.result-list {
  display: flex;

  @include on-mobile() {
    flex-direction: column;
  }
}

.form-wrapper {
  min-width: 360px;
  width: 30%;
  margin-right: 1.5rem;

  @include on-mobile() {
    margin-right: 0;
    min-width: auto;
    width: 100%;
  }

  @include on-tablet() {
    min-width: 300px;
  }
}

.table-wrapper {
  flex: 1;
}

.pagination {
  &.top {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &.bottom {
    margin-top: 1rem;
  }
}
