@import 'styles/colors';
@import 'styles/mixins';

$left-right-padding: 1.5rem;
$top-bottom-padding: 1rem;
$clear-lamp-width: 0.6rem;

.card-header {
  width: 100%;
  margin-bottom: 2rem;
}

.card {
  width: 100%;
  padding: 2rem;

  background-color: $primary-bg-color;

  &.clickable:hover {
    background-color: darken($primary-bg-color, 3%);
    cursor: pointer;
  }
}
