@import 'styles/colors';
@import 'styles/mixins';
@import 'styles/variables';
@import 'styles/breakpoints';

.user-profile-header-wrapper {
  @include card-box;

  margin-bottom: 2rem;

  background-color: $white;
}

.user-profile-header {
  padding: 2rem;
}

.user-profile-content {
  display: flex;
  align-items: center;
  padding: 1rem 2rem 2rem 2rem;
}

.user-avatar {
  $size: 5rem;

  width: $size;
  height: $size;
  margin-right: 2rem;

  background-color: darken($ui-base-color, 20%);
  border-radius: 100%;
}

.tabs-wrapper {
  padding: 0 2rem;
}

.tabs {
  display: flex;

  list-style: none;

  .tab-item {
    font-weight: 700;
    text-align: center;

    outline: none;

    &:last-child {
      border-right: none;
    }

    a {
      display: block;
      padding: 1.5rem;

      color: $primary-fg-color;
    }
  }

  .active {
    margin-bottom: -1px;

    border-bottom: 3px solid $ui-accent-color;

    a {
      color: $ui-accent-color;
    }
  }
}

.position-relative-container {
  position: relative;
}

.breadcrumb {
  $padding: 2rem;

  margin-bottom: 2rem;
  padding: 0 $padding;

  overflow-x: scroll;

  white-space: nowrap;

  &::before {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: $padding;
    height: 100%;

    background: linear-gradient(
      to right,
      $ui-base-color,
      rgba($ui-base-color, 0%)
    );

    content: '';
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;

    display: block;
    width: $padding;
    height: 100%;

    background: linear-gradient(
      to right,
      rgba($ui-base-color, 0%),
      $ui-base-color
    );

    content: '';
  }
}
