@import 'styles/colors';
@import 'styles/mixins';
@import 'styles/variables';

.user-profile-header {
  margin-bottom: 2rem;
}

.user-profile-content {
  display: flex;
  align-items: center;
  padding: 1rem 2rem 2rem 2rem;
}

.user-avatar {
  $size: 5rem;

  width: $size;
  height: $size;

  margin-right: 2rem;

  background-color: darken($ui-base-color, 20%);

  border-radius: 100%;
}

.tabs {
  display: flex;

  list-style: none;
  border-bottom: 1px solid $border-color;

  .tab-item {
    font-weight: 700;
    text-align: center;

    outline: none;

    &:last-child {
      border-right: none;
    }

    a {
      display: block;
      padding: 1.5rem;

      color: $primary-fg-color;
    }
  }

  .active {
    margin-bottom: -1px;

    border-bottom: 3px solid $ui-accent-color;

    a {
      color: $ui-accent-color;
    }
  }
}
