@import 'styles/colors.scss';

.box {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1;
  height: 100%;
  padding: 2rem 0;
}

.centering {
  display: flex;
  align-items: center;
  justify-content: center;
}
