@import 'styles/colors';
@import 'styles/variables';

.textarea {
  width: 100%;
  padding: 0.8em;

  border: 2px solid $ui-base-color;
  border-radius: $border-radius-size;
  outline: none;

  &:focus {
    border-color: rgba($ui-accent-color, 0.7);
  }

  &.error {
    border-color: rgba($red, 0.7);
  }
}
